@tailwind base;
@tailwind components;
@tailwind utilities;

.embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
  }
  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
  .embla__slide img{
    width: 100%;
    height: 600px;
  }

  
  