@tailwind base;
@tailwind components;
@tailwind utilities;


.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__slide img{
  width: 100%;
  height: 700px;
}

@media (max-width: 767px) {
  /* Your CSS styles for mobile screens go here */
  .embla__slide img{
    width: 100%;
    height: 400px;
  }
}
  
  